<div class="sidebar">
  <ul>
    <li><a routerLink="/dashboard">Tableau de bord</a></li>
    <li><a routerLink="/accueil">Accueil</a></li>
    <li><a routerLink="/participants">Participants</a></li>
    <li><a routerLink="/categories">Catégories de Formations</a></li>
    <li><a routerLink="/recherche">Recherche</a></li>
    <li><a routerLink="/login">Connexion</a></li>
  </ul>
  <div class="search-bar">
    <input type="text" placeholder="Rechercher...">
    <button type="button">Rechercher</button>
  </div>
</div>

